<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    

</head>
    <body>
    <!--Add review form here -->

     <!-- Navigation bar -->
     <nav class="navbar navbar-light bg-light">

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:signup' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Stylize review form --> 
    <div class= "container mt-4">
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            {% csrf_token %}
            {% for car in cars %}
                <h2>Add a review about {{ car.dealer_name }} </h2>
                
                <!-- Textarea for Review Content -->
                <div class="form-group">
                    <label for="content">Enter the review content:</label>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                </div>

                <!-- Checkbox for Purchase Confirmation -->
                <div class="form-group form-check">
                    
                    <input type="checkbox" class="form-check-input" id="purchasecheck" name="purchasecheck">
                    <label class="form-check-label" style="font-weight: bold;" for="purchasecheck">Has purchased the car from {{ car.dealer_name }} </label>
                </div>

                <!-- Dropdown for Car Selection -->
                <div class="form-group">
                    <label for="car">Select your car (model-make-year):</label>
                    <select name="car" id="car" class="form-select" required onchange="updateCarDetails()">
                        <option value="" disabled selected>Select...</option>
                        
                            <option value="{{ car.id }}" data-name="{{ car.name }}" data-maker="{{ car.car_maker }}" data-year="{{ car.year }}">
                                {{ car.name }}-{{ car.car_maker }}-{{ car.year }}
                            </option>
                        
                    </select>
                </div>
                {% if user.is_authenticated %}
                <input type="hidden" name="user" id="user_name" value="{{ user.first_name }} {{ user.last_name }}">
                {% endif %}
                <input type="hidden" name="car_name" id="car_name">
                <input type="hidden" name="car_maker" id="car_maker">
                <input type="hidden" name="car_year" id="car_year">

                <!-- Date Input for Purchase Date -->
                <div class="form-group">
                    <label style="font-weight: bold;">Select your Purchase Date:</label>
                    <input class="form-control" type="date" name="purchasedate" id="purchasedate"  style="width: auto;">
                </div>
                {% if message %}
                    <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
                        {{ message }}
                    </div>
                {% endif %}
                {% if result %}
                    <p>{{ result }}</p>
                {% endif %}
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endfor %}
        </form>
    </div>

    <!-- Datepicker Script -->
    {{ form.date }}
    <script type="text/javascript">
        $('.purchasedate').datepicker({
           format: 'mm/dd/yyyy'
        });
    
        function updateCarDetails() {
            var selectedCar = document.getElementById('car').selectedOptions[0];
            document.getElementById('car_name').value = selectedCar.getAttribute('data-name');
            document.getElementById('car_maker').value = selectedCar.getAttribute('data-maker');
            document.getElementById('car_year').value = selectedCar.getAttribute('data-year');
        }
    </script>
    <!-- Include other necessary scripts like jQuery for the datepicker -->


    
    </body>
</html>
